# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
# Snowpack dependency directory (https://snowpack.dev/)
web_modules/
# Optional npm cache directory
.npm
# Optional eslint cache
.eslintcache
# Output of 'npm pack'
*.tgz
# dotenv environment variables file
.env
.env.test
.custom-env

# env files
.env
.env.test
.custom-env

# Ignore all env files
env/